<div class="page-header">
  <ul class="breadcrumb">
    <li><a ng-href="{{uri()}}">Home</a></li>
  </ul>
  <h1>Search Results <span ng-hide="searchResults"><i class="fa fa-spinner fa-spin"></i></span></h1>
</div>

<p><i>If the desired item isn't in the search results, try narrowing your search (e.g., use a longer search keyword).</i></p>

<div ng-controller="SearchResultsController" ng-show="searchResults">
  <section>
    <header>
      <h2>Services <small>({{searchResults.services.length}})</small></h2>
    </header>
    <div ng-show="searchResults.services.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.services.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="service in searchResults.services | orderBy:'name'">
          <a ng-href="{{uri('services', service.key)}}">{{service.name}} ({{service.key}})</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Service Instances <small>({{searchResults.serviceInstances.length}})</small></h2>
    </header>
    <div ng-show="searchResults.serviceInstances.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.serviceInstances.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="serviceInstance in searchResults.serviceInstances | orderBy:'key'">
          <a ng-href="{{uri('service-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Nodes <small>({{searchResults.nodes.length}})</small></h2>
    </header>
    <div ng-show="searchResults.nodes.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.nodes.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="node in searchResults.nodes | orderBy:'name'">
          <a ng-href="{{uri('nodes', node.name)}}">{{node.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Machines <small>({{searchResults.machines.length}})</small></h2>
    </header>
    <div ng-show="searchResults.machines.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.machines.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="machine in searchResults.machines | orderBy:'name'">
          <a ng-href="{{uri('machines', machine.name)}}">{{machine.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>Load Balancers <small>({{searchResults.loadBalancers.length}})</small></h2>
    </header>
    <div ng-show="searchResults.loadBalancers.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.loadBalancers.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="loadBalancer in searchResults.loadBalancers | orderBy:'name'">
          <a ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <header>
      <h2>People <small>({{searchResults.people.length}})</small></h2>
    </header>
    <div ng-show="searchResults.people.length == 0">
      <p>No results.</p>
    </div>
    <div ng-show="searchResults.people.length > 0">
      <ul class="list-unstyled">
        <li ng-repeat="person in searchResults.people | orderBy:['firstName','lastName']">
          <a ng-href="{{uri('people', person.username)}}">{{person.firstName}} {{person.lastName}} ({{person.username}})</a>
        </li>
      </ul>
    </div>
  </section>
</div>
