<div id="page-spinner-panel" ng-hide="vm.items">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-show="vm.items">
  <div class="page-header">
    <ul class="breadcrumb">
      <li><a ng-href="{{uri()}}">Home</a></li>
    </ul>
    <h1>
      Service Instances
      <span ng-if="vm.items.length === 0"><small>(0)</small></span>
      <span ng-if="vm.items.length > 0"><small>({{vm.page.lowerIndex}}-{{vm.page.upperIndex}} of {{vm.page.totalElements}})</small></span>
    </h1>
  </div>
  <div ng-if="vm.items.length === 0">
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i> No service instances.
    </div>
  </div>
  <div ng-if="vm.items.length > 0">
    <div class="pagination-wrapper" data-ng-if="vm.page.totalPages > 1">
      <pagination data-total-items="vm.page.totalElements" data-ng-model="vm.query.pageNumber" data-ng-change="vm.pageSelected()" />
    </div>
    <table class="table table-striped">
      <colgroup>
        <col style="width: 33.333%;">
        <col style="width: 33.333%;">
        <col style="width: 33.333%;">
      </colgroup>
      <thead>
        <tr>
          <th>Service Instance</th>
          <th>Service</th>
          <th>Environment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="serviceInstance in vm.items | orderBy:'key'">
          <td><a ng-href="{{uri('service-instances', serviceInstance.key)}}">{{serviceInstance.key}}</a></td>
          <td><a ng-href="{{uri('services', serviceInstance.service.key)}}">{{serviceInstance.service.name}}</a></td>
          <td><a ng-href="{{uri('environments', serviceInstance.environment.key)}}">{{serviceInstance.environment.name}}</a></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-wrapper" data-ng-if="vm.page.totalPages > 1">
      <pagination data-total-items="vm.page.totalElements" data-ng-model="vm.query.pageNumber" data-ng-change="vm.pageSelected()" />
    </div>
  </div>
</div>
