<div id="page-spinner-panel" data-ng-hide="items">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div data-ng-show="items">
  <div class="page-header">
    <ul class="breadcrumb">
      <li><a data-ng-href="{{uri()}}">Home</a></li>
    </ul>
    <h1>
      Load Balancers
      <span data-ng-if="items.length === 0"><small>(0)</small></span>
      <!-- FIXME This should be paging -->
      <span data-ng-if="items.length > 0"><small>({{lowerIndex}}-{{upperIndex}} of {{totalItems}})</small></span>
    </h1>
  </div>
  <div data-ng-if="items.length === 0">
    <div class="alert alert-info">
      <i class="fa fa-info-circle"></i> No load balancers.
    </div>
  </div>
  <div data-ng-if="items.length > 0">
    <div class="pagination-wrapper" data-ng-if="totalPages > 1">
      <pagination total-items="totalItems" data-ng-model="model.currentPage" data-ng-change="model.pageSelected()" />
    </div>
    <table class="table table-striped">
      <colgroup>
        <col style="width:25%">
        <col style="width:20%">
        <col style="width:35%">
        <col style="width:20%">
      </colgroup>
      <thead>
        <tr>
          <th>Load Balancer</th>
          <th>Type</th>
          <th>Data Center</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="loadBalancer in items">
          <td><a data-ng-href="{{uri('load-balancers', loadBalancer.name)}}">{{loadBalancer.name}}</a></td>
          <td>{{loadBalancer.type || '-'}}</td>
          <td><a data-ng-href="{{uri('data-centers', loadBalancer.dataCenter.key)}}">{{loadBalancer.dataCenter.name}}</a></td>
          <td>{{loadBalancer.ipAddress || '-'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-wrapper" data-ng-if="totalPages > 1">
      <pagination total-items="totalItems" data-ng-model="model.currentPage" data-ng-change="model.pageSelected()" />
    </div>
  </div>
</div>
