<section>
  <div class="row">
    <div class="col-md-6">
      <header>
        <h1>IP Address Roles <small>({{vm.ipAddressRoles.length}})</small></h1>
      </header>
      <div ng-show="vm.ipAddressRoles.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ipAddressRole in vm.ipAddressRoles">
              <td>{{ipAddressRole.name}}</td>
              <td>{{ipAddressRole.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <header>
        <h1>Private Ports <small>({{vm.ports.length}})</small></h1>
      </header>
      <div ng-show="vm.ports.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Port</th>
              <th>Protocol</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="port in vm.ports">
              <td>{{port.number}}</td>
              <td>{{port.protocol}}</td>
              <td>{{port.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
