<section>
  <header>
    <h1>Load Balancers
      <span ng-show="vm.loadBalancerListStatus == 'loading'"><i class="fa fa-spinner fa-spin"></i></span>
      <span ng-show="vm.loadBalancerListStatus == 'loaded'">
        <span ng-if="vm.loadBalancerMetadata.totalItems == 0">
          <small>(0)</small>
        </span>
        <span ng-if="vm.loadBalancerMetadata.totalItems > 0">
          <small>({{vm.loadBalancerMetadata.pageLowIndex + 1}}-{{vm.loadBalancerMetadata.pageHighIndex + 1}} of {{vm.loadBalancerMetadata.totalItems}})</small>
        </span>
      </span>
    </h1>
  </header>
  <ng-include src="'view/data-center/details/load-balancer-list.html'"></ng-include>
</section>
